{% extends "myapp/base.html" %}

{%block content%}
{% if query %}
    <h3>Result for : "{{query}}"</h3>
{% endif %}
{% if results %}
        		{% for post in results%}
            <a href="{%url 'post_detail' post.id%}" class="text-decoration-none">
              <div class="card m-3">
                <div class="card-body">
        			    <h5 class="card-title">{{post.title}}</h5>
        			    <p class="text-muted text-sm"> author: {{post.author}}</p>
        			    <p class="card-text">{{post.content|truncatewords:10}}</p>
                </div>
              </div>
            </a>
        		{%endfor%}
{% endif %}
{% endblock %}